<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatcher</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link  href="/media/logos/hatcher_tab.png" rel="icon" type="image/png">
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<style>
  .hatcher-logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<body>
  <a class="" id="">
    <img src="/media/Re_resume_logo_2.png"  class="d-inline-block align-text-top hatcher-logo" alt="Re_resume_head">
  </a>
  
    {% block content%}
    {% endblock content%}
    
    {% block script %}
    {% endblock script %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        document.getElementById('reload').addEventListener('click', function() {
          location.reload();
        });
    </script>

</body>
</html>